.octopus{
    display: block;
    margin: 0 auto;
    margin-top: 200px;
    }
    
.glasses{   
    position: relative; 
    display: block;
    margin: 0 auto;
    margin-top: -185px;
    }
    
.hat{   
    position: relative; 
    display: block;
    margin: 0 auto;
    margin-top: -245px;
    }